@model Hotel


@{
}
<duiv class="container">

    <div class="alert alert-success"> تعديل بيانات الفندق</div>
    <form asp-controller="Home" asp-action="Update" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="row">
            <div class="col">
                <label for=" Name" class="p-2">اسم الفندق</label>
                <input type="text" id="Name" name="Name" class="form-control form-control-sm" asap-for="@Model.Name" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for="Address" class="p-2"> عنوان الفندق </label>
                <input type="text" id="Address" name="Address" class="form-control form-control-sm" asp-for="@Model.Address" />
            </div>



            <div class="col-sm-6">
                <label for="City" class="p-2"> المدينة</label>
                <input type="text" id="City" name="City" class="form-control form-control-sm" asp-for="@Model.City" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for=" Email" class="p-2">البريد الالكتروني</label>
                <input type="text" id="Email" name="Email" class="form-control form-control-sm" asp-for="@Model.Email" />

            </div>
            <div class="col-sm-6">
                <label for=" Phone" class="p-2">رقم الهاتف</label>
                <input type="text" id="Phone" name="Phone" class="form-control form-control-sm" asp-for="@Model.Phone" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for=" Image" class="p-2">الصورة</label>
                <input type="text" id="Image" name="Image" class="form-control form-control-sm" asp-for="@Model.Image" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">

                <button class="btn btn-success" type="submit">حفظ </button>


            </div>
        </div>

    </form>


    </div>



















    