@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "Home Page";
   
}
<div class="container" dir="rtl">
    <div class="row">
        <form asp-controller="Home" asp-action="CreateNewRecord" method="post">

            <div class="row">
          <div class="col"> 
         <label for=" Name" class="p-2">اسم الفندق</label> 
         <input type="text" id="Name" name="Name" class="form-control form-control-sm"  required/> 
     </div> 
     </div>
     
     <div class="row">
         <div class="col-sm-6">
         <label for="Address" class="p-2"> عنوان الفندق </label> 
         <input type="text" id="Address" name="Address" class="form-control form-control-sm" required />
     </div>
    

     
     <div class="col-sm-6"> 
      <label for="City" class="p-2"> المدينة</label>
      <input type="text" id="City" name="City" class="form-control form-control-sm" required /> 
  </div> 
  </div>
   
  <div class="row">
          <div class="col-sm-6">
         <label for=" Email" class="p-2">البريد الالكتروني</label>
         <input type="email" id="Email" name="Email" class="form-control form-control-sm" required />
     
     </div>
          <div class="col-sm-6">
         <label for=" Phone" class="p-2">رقم الهاتف</label>
         <input type="tel" id="Phone" name="Phone" class="form-control form-control-sm"  required/>
     </div>
     </div>
      
     <div class="row">
          <div class="col">
         <label for=" Image" class="p-2">الصورة</label>
                    <input type="text" id="Image" name="Image" class="form-control form-control-sm" required />
     </div>
     </div>
     <div class="row mt-3">
          <div class="col text-center">
       
        <button class="btn btn-success" type="submit">حفظ </button>

     
         </div>
         </div>

  </form>
     <table class="table table-bordered mt-5">
   <thead>
                <tr class="text-center">
         <th>رقم الفندق</th>
         <th> اسم الفندق</th>
         <th>عنوان الفندق</th>
         <th>المدينة </th>
          <th> رقم الهاتف</th>
         <th>البريد الالكتروني </th>
            <th colspan="2">اجراء </th>
        </tr>
</thead>
 <tbody>
     @foreach(var item in Model)
   {
       <tr class="text-center">
           <td>@item.Id</td>
           <td>@item.Name</td>
           <td>@item.Address</td>
            <td>@item.City</td>
             <td>@item.Phone</td>
             <td>@item.Email</td>
             <td> <a asp-action="Delete"asp-route-Id="@item.Id"><i class="fa fa-trash text-danger"></i></a></td>
             <td> <a asp-action="Edit" asp-route-Id="@item.Id"><i class="fa fa-edit text-success"></i></a></td>
             

       </tr>             
      }
                

</tbody>


  </table>


</div>


